<!DOCTYPE html>
<div class="full-body nav-md">  
    <div class="container body">
        <div class="main_container">

            <div class="col-md-3 left_col">
                <div class="left_col scroll-view" style="width:100%">
                    <sidebar></sidebar>
                </div>
            </div>

            <navbar></navbar>
            <!-- page content -->




            <div class="right_col" role="main">
                <div class="">
                    <div class="page-title">
                        <div class="title_left">
                            <h3>Contactos</h3>
                        </div>

                    </div>
                    <div class="clearfix"></div>
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="x_panel">
                                <div class="x_title">
                                    <h2>Crear Abonados<small></small></h2>
                                    <ul class="nav navbar-right panel_toolbox">
                                        <li>
                                            <label id="csv-btn" class="btn btn-default" data-toggle-class="btn-primary" data-toggle-passive-class="btn-default">
                                                <input ng-click="carajo()" type="file" file-reader="fileContent" style="display:none"> Cargar CSV
                                            </label>
                                        </li>
                                    </ul>

                                    <div class="clearfix"></div>
                                </div>
                                <div class="x_content">
                                    <br />
                                    <div id="abonado-section">
                                        <form id="demo-form2" data-parsley-validate class="form-horizontal form-label-left">

                                            <div class="form-group">
                                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="nombre-tarea">Nombre <span class="required">*</span>
                                                </label>
                                                <div class="col-md-6 col-sm-6 col-xs-12">
                                                    <input ng-model="abonado.nombre" type="text" id="nombre-tarea" required="required" class="form-control col-md-7 col-xs-12">
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label for="mensaje" class="control-label col-md-3 col-sm-3 col-xs-12">Telefono</label>
                                                <div class="col-md-6 col-sm-6 col-xs-12">
                                                    <input ng-model="abonado.telefono" id="mensaje" class="form-control col-md-7 col-xs-12" type="text" name="mensaje">
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label for="mensaje" class="control-label col-md-3 col-sm-3 col-xs-12">Cedula</label>
                                                <div class="col-md-6 col-sm-6 col-xs-12">
                                                    <input ng-model="abonado.ci" id="mensaje" class="form-control col-md-7 col-xs-12" type="text" name="mensaje">
                                                </div>
                                            </div>
                                            <div ng-if="exito" class="alert alert-success" style="text-align: center">{{mensaje}}</div>
                                            <div ng-if="fallo" class="alert alert-error" style="text-align: center">{{mensaje}}</div>
                                            <div class="form-group">
                                                <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                                                    <button ng-disable="loading" ng-click="crearabonado()" type="submit" class="btn btn-success">Submit</button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                    <div id="datos-preview">
                                        
                                        <div id="fileContent2" class="table-responsive">
                                            <h3 >Datos cargados</h3>
                                            <table datatable="ng" class="row-border hover table table-striped jambo_table bulk_action">
                                                <thead>
                                                    <tr class="headings">
                                                        <th class="column-title">Nombre</th>
                                                        <th class="column-title">Telefono</th>
                                                        <th class="column-title">Cedula</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr ng-repeat="file in ::fileContent" class="even pointer">
                                                        <td>{{ file.Nombre }}</td>
                                                        <td>{{ file.Telefono }}</td>
                                                        <td>{{ file.CI }}</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <div ng-if="exito" class="alert alert-success" style="text-align: center">{{mensaje}}</div>
                                        <div ng-if="fallo" class="alert alert-error" style="text-align: center">{{mensaje}}</div>
                                        <div class="ln_solid"></div>
                                        <div class="form-group">
                                            <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                                                <button ng-disable="loading" ng-click="crearabonados()" type="submit" class="submit-boton btn btn-success">Submit</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /page content -->
        </div>
    </div>
</div>

<script>
            $(document).ready(function () {
                $('#datos-preview').hide();
                $("#csv-btn").click(function () {
                    $("#datos-preview").show();
                    $("#abonado-section").hide();
                    
                });
                
            });
</script>
