/* app css stylesheet */

.menu {
    list-style: none;
    border-bottom: 0.1em solid black;
    margin-bottom: 2em;
    padding: 0 0 0.5em;
}

.menu:before {
    content: "[";
}

.menu:after {
    content: "]";
}

.menu > li {
    display: inline;
}

.menu > li:before {
    content: "|";
    padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
    content: "";
    padding: 0;
}

.navbar-boxes li{
    text-align: center;
    height:200px;
}
.navbar-boxes i{
    font-size: 50px;
    padding-top: 20px;
}
.navbar-boxes h5{
    font-weight: bold;
    color:black;
    padding-top: 20px
}
.navbar-boxes h4{
    padding-top: 10px;
    font-size: 50px;
    font-weight: bold;
}
.middle-box {

    margin-right: 5px;
    padding-left: 10px !important ;
    border-left: 2px solid #ADB2B5;

}