<div class="modal fade">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">

                <h2>Crear Abonados<small></small></h2>
                <ul class="nav navbar-right panel_toolbox">
                    <li>
                        <label id="csv-btn" class="btn btn-default" data-toggle-class="btn-primary" data-toggle-passive-class="btn-default">
                            <input ng-click="clear()" type="file" file-reader="fileContent" style="display:none"> Cargar CSV
                        </label>
                    </li>
                </ul>

                <div class="clearfix"></div>

            </div>
            <div class="modal-body">

                <div id="abonado-section">
                    <form id="demo-form2" name="form" data-parsley-validate novalidate class="form-horizontal form-label-left">

                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="nombre-tarea">Nombre <span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input ng-model="abonado.nombre" name="nombre" 
                                       type="text" id="nombre-tarea" required="required" class="form-control col-md-7 col-xs-12">
                                <div ng-show="form.$submitted">
                                    <div ng-show="form.nombre.$error.required" class="alert alert-danger">Nombre del abonado requerido</div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="mensaje" class="control-label col-md-3 col-sm-3 col-xs-12">Telefono</label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input ng-model="abonado.telefono" name="telefono" required="required"
                                       id="mensaje" class="form-control col-md-7 col-xs-12" type="text">
                                <div ng-show="form.$submitted">
                                    <div ng-show="form.telefono.$error.required" class="alert alert-danger">Telefono del abonado requerido</div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="mensaje" class="control-label col-md-3 col-sm-3 col-xs-12">Cedula</label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input ng-model="abonado.ci" id="mensaje" class="form-control col-md-7 col-xs-12" type="text" name="cedula"
                                       required="required">
                                <div ng-show="form.$submitted">
                                    <div ng-show="form.cedula.$error.required" class="alert alert-danger">Cedula del abonado requerida</div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="submit" ng-click="close(form.$valid)" class="btn btn-primary">Guardar</button>
                            <button type="button" ng-click="cancel()" class="btn">Cancelar</button>
                        </div>
                    </form>
                </div>
                <div id="datos-preview">

                    <div id="fileContent2" class="table-responsive">
                        <h3 >Datos cargados</h3>
                        <table datatable="ng" class="row-border hover table table-striped jambo_table bulk_action">
                            <thead>
                                <tr class="headings">
                                    <th class="column-title">Nombre</th>
                                    <th class="column-title">Telefono</th>
                                    <th class="column-title">Cedula</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="file in ::fileContent" class="even pointer">
                                    <td>{{ file.Nombre}}</td>
                                    <td>{{ file.Telefono}}</td>
                                    <td>{{ file.CI}}</td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="modal-footer">
                            <button type="button" ng-click="close(true)" class="btn btn-primary" data-dismiss="modal">Guardar</button>
                            <button type="button" ng-click="cancel()" class="btn">Cancelar</button>
                        </div>
                    </div>
                    

                </div>



            </div>

        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $("#fileContent2").hide();
        $("#titulo-preview").hide();
        $("#csv-btn").click(function () {
            $("#grupo-section").show();
            $("#abonado-section").hide();
            $("#fileContent2").show();
            $("#titulo-preview").show();
        });
    });
</script>