<div class="modal fade">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">

                <h2>Crear Grupos<small></small></h2>
                <ul class="nav navbar-right panel_toolbox">
                    <li>
                        <label id="csv-btn" class="btn btn-default" data-toggle-class="btn-primary" data-toggle-passive-class="btn-default">
                            <input type="file" file-reader="fileContent" ng-click="toggleNone()"  style="display:none"> Cargar CSV
                        </label>
                    </li>
                </ul>

                <div class="clearfix"></div>
                
            </div>
            <div class="modal-body">
                
                <form id="demo-form2" name="form" data-parsley-validate novalidate class="form-horizontal form-label-left">

                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="nombre-tarea">Nombre <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <input type="text" id="nombre-tarea" required="required" class="form-control col-md-7 col-xs-12" 
                                   ng-model="nombre" name="nombre">
                            <div ng-show="form.$submitted">
                                <div ng-show="form.nombre.$error.required" class="alert alert-danger">Nombre del grupo requerido</div>
                            </div>
                        </div>
                    </div>

                    <div id="abonado-section" class="table-responsive">
                        <h4>Abonados</h4>
                        <table datatable="ng" class="row-border hover table table-striped jambo_table bulk_action" style="width:100%">
                            <thead>
                                <tr class="headings">
                                    <th></th>
                                    <th class="column-title">Nombre</th>
                                    <th class="column-title">Telefono</th>
                                    <th class="column-title">Cedula</th>

                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="abonado in ::abonados" class="even pointer">
                                    <td class="a-center ">
                                        <input type="checkbox" class="flat" name="table_records"
                                               ng-model="selected[abonado.ci]"
                                               ng-click="addselect(abonado.ci,abonado)">
                                    </td>
                                    <td class="datos">{{ abonado.nombre }}</td>
                                    <td class="datos">{{ abonado.telefono }}</td>
                                    <td class="datos">{{ abonado.ci }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div id="fileContent2" class="table-responsive">
                        <h4>Abonados <small> asegurese de que todos los abonados en el archivo esten en el sistema</small></h4>
                        
                        <table datatable="ng" class="row-border hover table table-striped jambo_table bulk_action">
                            <thead>
                                <tr class="headings">
                                    <th class="column-title">Nombre</th>
                                    <th class="column-title">Telefono</th>
                                    <th class="column-title">Cedula</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="file in ::fileContent" class="even pointer">
                                    <td>{{ file.Nombre }}</td>
                                    <td>{{ file.Telefono }}</td>
                                    <td>{{ file.CI }}</td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="modal-footer">
                            <button type="button" ng-click="close(true)" class="btn btn-primary">Guardar</button>
                            <button type="button" ng-click="cancel()" class="btn">Cancelar</button>
                        </div>
                    </div>
                    
                    <div class="modal-footer">
                        <button type="button" ng-click="close(form.$valid)" class="btn btn-primary">Guardar</button>
                        <button type="button" ng-click="cancel()" class="btn">Cancelar</button>
                    </div>

                </form>



            </div>
            
        </div>
    </div>
</div>
<script>
    $(document).ready(function(){
        $("#fileContent2").hide();
        $("#titulo-preview").hide();
        $("#csv-btn").click(function(){
            $("#grupo-section").show();
            $("#abonado-section").hide();
            $("#fileContent2").show();
            $("#titulo-preview").show();
        });
    });    
</script>