<div class="modal fade">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">

                <h2>Usuario</h2>

                <div class="clearfix"></div>

            </div>
            <div class="modal-body">

                <form name="form" id="demo-form2" data-parsley-validate novalidate class="form-horizontal form-label-left">


                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="canal">Tipo <span class="required">*</span></label>
                        <div class="col-md-3 col-sm-3 col-xs-6">
                            <select class="form-control" ng-model="u.tipo" required="required" name="tipo">
                                <option ng-repeat="tipo in tipos" >{{tipo}}</option>
                            </select>
                            <div ng-show="form.$submitted">
                                <div ng-show="form.tipo.$error.required" class="alert alert-danger">Tipo de usuario requerido</div>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-3 col-xs-6">
                            <p ng-if="u.tipo === 'basico'">Puede ver los mensajes recibidos y generar reportes</p>
                            <p ng-if="u.tipo === 'medio'">Puede ver los mensajes recibidos, generar reportes, manejar tareas y abonados</p>
                            <p ng-if="u.tipo === 'avanzado'">Puede ver los mensajes recibidos, generar reportes, manejar tareas, abonados y recargas</p>
                        </div>

                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="id-usuario">ID<span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <input type="text" id="id-usuario" required="required" class="form-control col-md-7 col-xs-12" 
                                   ng-model="u.id" name="id">
                            <div ng-show="form.$submitted">
                                <div ng-show="form.id.$error.required" class="alert alert-danger">ID de usuario requerido</div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="nombre-usuario">Nombre<span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <input type="text" id="nombre-usuario" required="required" class="form-control col-md-7 col-xs-12" 
                                   ng-model="u.nombre" name="nombre">
                            <div ng-show="form.$submitted">
                                <div ng-show="form.nombre.$error.required" class="alert alert-danger">Nombre de usuario requerido</div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="email-usuario">Email<span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <input type="email" id="email-usuario" required="required" class="form-control col-md-7 col-xs-12" 
                                   ng-model="u.email" name="email">
                            <div ng-show="form.$submitted">
                                <div ng-show="form.email.$error.required" class="alert alert-danger">Email de usuario requerido</div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="telefono-usuario">Telefono<span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <input type="number" id="telefono-usuario" required="required" class="form-control col-md-7 col-xs-12" 
                                   ng-model="u.telefono" name="telefono">
                            <div ng-show="form.$submitted">
                                <div ng-show="form.telefono.$error.required" class="alert alert-danger">Telefono del usuario requerido</div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="fax-usuario">Fax
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <input type="text" id="fax-usuario" class="form-control col-md-7 col-xs-12" ng-model="u.fax">
                        </div>
                    </div>


                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="password-usuario">Constrasena
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <input type="password" id="password-usuario" class="form-control col-md-7 col-xs-12" 
                                   ng-model="u.password" name="contrasena">
                            <div ng-show="form.$submitted">
                                <div ng-show="form.contrasena.$error.required" class="alert alert-danger">Contrasena requerida</div>
                                <div ng-show="u.password !== u.password2" class="alert alert-danger">Las contrasenas no coinciden</div>
                                
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="password2-usuario">Confirmacion contrasena
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <input type="password" id="password2-usuario" class="form-control col-md-7 col-xs-12" 
                                   ng-model="u.password2" name="contrasena2">
                            <div ng-show="form.$submitted">
                                <div ng-show="form.contrasena2.$error.required" class="alert alert-danger">Codigo requerido</div>
                                <div ng-show="u.password !== u.password2" class="alert alert-danger">Las contrasenas no coinciden</div>
                                
                            </div>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <button type="submit" ng-click="close(form.$valid && (u.password === u.password2))" class="btn btn-primary">Guardar</button>
                        <button type="button" ng-click="cancel()" class="btn">Cancelar</button>
                    </div>

                </form>



            </div>

        </div>
    </div>
</div>